// README
// This is only a .env example
// Do not change this file!
// Use cp or mv (like this: cp env.example .env), then edit .env.
// IMPORTANT: Don't forget to add to update your .gitignore with .env (to avoid making your key public!)

OPENAI_API_KEY="ADD YOUR OPENAI API KEY HERE"